{% extends theme("layout.html") %}
{% import "forms.html" as forms %}

{% block content %}
    <div class="moin-form">
        {{ forms.render_errors(form) }}

        {% if 'username' in login_inputs or 'password' in login_inputs %}
            <h2>{{ _('Moin login') }}</h2>
            {{ gen.form.open(form, method="post", action=url_for('frontend.login')) }}
                <dl>
                    {% if 'username' in login_inputs %}
                        <dt>
                            {{ gen.label(form['username']) }}
                        </dt>
                        <dd>
                            {{ gen.input(form['username'], type="text", class="form-control", required="true") }}
                        </dd>
                    {% endif %}
                    {% if 'password' in login_inputs %}
                        <dt>
                            {{ gen.label(form['password']) }}
                        </dt>
                        <dd>
                            {{ gen.input(form['password'], type="password", class="form-control", required="true", pattern=".{8,}", title="Password must be a minimum of 8 characters ") }}
                        </dd>
                    {% endif %}
                </dl>
                {{ forms.render(form['submit']) }}
                {{ forms.render_submit(form) }}
            {{ gen.form.close() }}
        {% endif %}

        {% if 'openid' in login_inputs %}
            <br>
            <h2>{{ _('OpenID login') }}</h2>

            {{ gen.form.open(form, method="post", action=url_for('frontend.login')) }}
                <dl>
                    {{ forms.render(form['openid']) }}
                </dl>
                {{ forms.render(form['submit'], id='openid_login_submit') }}
                {{ forms.render_submit(form) }}
            {{ gen.form.close() }}
        {% endif %}

    </div>
{% endblock %}
