{% import "forms.html" as forms %}
{% import "utils.html" as utils with context %}
{% extends theme("show.html") %}

{% from form.meta_template import meta_editor %}
{# Import macros data_editor and extra_head from content_form's template.
   extra_head is optional, so instead of a simple "import from" we need to do
   this manually #}
{% import form['content_form'].template as content_template %}
{% set extra_head = content_template.extra_head %}
{% set data_editor = content_template.data_editor %}

{% set title = _("Modifying '%(item_name)s'", item_name=fqname.value) %}

{% block head %}
    {{ super() }}
    {% if extra_head %}
        {{ extra_head() }}
    {% endif %}

    <link media="all" rel="stylesheet" href="{{ url_for('serve.files', name='markitup', filename='skins/markitup/style.css') }}" />
    <link media="all" rel="stylesheet" href="{{ url_for('serve.files', name='markitup', filename='sets/markdown/style.css') }}" />


    {% if meta['contenttype']|shorten_ctype   == 'Wiki (Moinmoin)' %}
    <script src="{{ url_for('serve.files', name='markitup', filename='js/wiki_moinmoin/set.js') }}"></script>
    {% elif meta['contenttype']|shorten_ctype == 'Markdown' %}
    <script src="{{ url_for('serve.files', name='markitup', filename='js/markdown/set.js') }}"></script>
    {% elif meta['contenttype']|shorten_ctype == 'Wiki (Creole)' %}
    <script src="{{ url_for('serve.files', name='markitup', filename='js/wiki_creole/set.js') }}"></script>
    {% elif meta['contenttype']|shorten_ctype == 'Wiki (MediaWiki)' %}
    <script src="{{ url_for('serve.files', name='markitup', filename='js/wiki_mediawiki/set.js') }}"></script>

    {% endif %}

{% endblock %}

{% block subitem_navigation %}
    {% call(fullname, shortname, contenttype, has_children) utils.render_subitem_navigation(fqname, True) %}
        {% set shortname = shortname|json_dumps %}
        <button class="moin-insertname-action" data-name="{{ fullname }}"
            title="{{ _('Insert Name') }}">{{ _('Insert Name') }}</button>
    {% endcall %}
{% endblock %}


{% block content %}
    <h1>{{ title }}</h1>
    <div id="moin-modify" class="moin-form">
        <a class="btn btn-success editor-downloader" href="{{ url_for('.download_item', item_name=item_name, mimetype='application/x.moin.download') }}">
            <span class="fa fa-download"></span> {{ _('Download') }}
        </a>
        {{ gen.form.open(form, method='post', enctype='multipart/form-data') }}
            {{ forms.render_errors(form) }}
            {#
               Workaround:
               For *Draw content, hide submit button and form['comment'], since *Draw
               POSTs originate from their respective applets.
            #}
            <div class="moin-editor">
                {{ data_editor(form['content_form'], item_name,class="markItUp ") }}
            </div>
                {% if not form['content_form'].is_draw %}
                    {{ forms.render_submit(form, id='moin-save-text-button') }}
                <dl>
                    {{ forms.render_textcha(gen, form) }}
                    {{ forms.render(form['comment']) }}
                </dl>
            {% endif %}
            {{ utils.help_on_editing(help) }}
            {% set may_admin = user.may.admin(fqname) %}
            {{ meta_editor(form['meta_form'], may_admin) }}
            <dl>
                {{ forms.render(form['extra_meta_text']) }}
            </dl>
            {#
            {{ gen.textarea(form['meta_text'], lang='en', dir='ltr', rows=rows_meta, cols=cols) }}
            <br />
            {{ forms.render_errors(form['meta_text']) }}
            #}
        {{ gen.form.close() }}
    </div>
{% endblock %}

{% block options_for_javascript %}
    <script src="{{ url_for('serve.files', name='jquery', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" >
       $(document).ready(function() {
        $('.markItUp').markItUp(myMarkdownSettings);
       });
       $('.moin-float-fix').children()[0].value="Save";
       $('.moin-float-fix').css("margin-top","-3%");
    </script>
    {%- if user.scroll_page_after_edit -%}
        <br id="moin-scroll-page-after-edit" />
    {%- endif %}
{% endblock %}
