{% extends theme("layout.html") %}
{% import "forms.html" as forms %}
{% import "utils.html" as utils with context %}
{% from theme(form.meta_template) import basic_meta_editor %}
{% import theme("itemviews.html") as itemviews with context %}
{% import theme(form['content_form'].template) as content_template %}
{% set extra_head = content_template.extra_head %}
{% if content_template.basic_data_editor is defined %}
    {% set data_editor = content_template.basic_data_editor %}
{% else %}
    {% set data_editor = content_template.data_editor %}
{% endif %}
{% set title = _("Modifying '%(item_name)s'", item_name=item_name) %}

{% block head %}
    {{ super() }}
    {% if extra_head %}
        {{ extra_head() }}
    {% endif %}
{% endblock %}

{% block views %}
    {{ itemviews }}
{% endblock %}

{% block content %}
  <link media="all" rel="stylesheet" href="{{ url_for('serve.files', name='markitup', filename='skins/markitup/style.css') }}" />
  <link media="all" rel="stylesheet" href="{{ url_for('serve.files', name='markitup', filename='sets/markdown/style.css') }}" />
  <link media="all" rel="stylesheet" href="{{ url_for('serve.files', name='bootstraptagsinput', filename='bootstrap-tagsinput.css') }}" />
{% if meta['contenttype']|shorten_ctype   == 'Wiki (Moinmoin)' %}
        <script src="{{ url_for('serve.files', name='markitup', filename='js/wiki_moinmoin/set.js') }}"></script>
    {% elif meta['contenttype']|shorten_ctype == 'Markdown' %}
        <script src="{{ url_for('serve.files', name='markitup', filename='js/markdown/set.js') }}"></script>
    {% elif meta['contenttype']|shorten_ctype == 'Wiki (Creole)' %}
        <script src="{{ url_for('serve.files', name='markitup', filename='js/wiki_creole/set.js') }}"></script>
    {% elif meta['contenttype']|shorten_ctype == 'Wiki (MediaWiki)' %}
        <script src="{{ url_for('serve.files', name='markitup', filename='js/wiki_mediawiki/set.js') }}"></script>
{% endif %}
<h1>{{ title }}</h1>
    <div id="moin-modify" class="moin-form">
        <a class="btn btn-success" style="float: right" href="{{ url_for('.download_item', item_name=item_name, mimetype='application/x.moin.download') }}">
            <span class="fa fa-download"></span> {{ _('Download') }}
        </a>
        {{ gen.form.open(form, method='post', enctype='multipart/form-data') }}
            {{ forms.render_errors(form) }}
            {{ forms.render_errors(form['meta_form']['acl']) }}
            {#
               Workaround:
               For *Draw content, hide submit button and form['comment'], since *Draw
               POSTs originate from their respective applets.
            #}

            <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#editor" data-toggle="tab">Edit Content</a></li>
    <li><a href="#meta" data-toggle="tab">Edit Meta</a></li>
    {% if user.may.admin(fqname) %}
                    <li><a href="#acl" data-toggle="tab">Edit ACL</a></li>
    {% endif %}
    <li><a href="#help" data-toggle="tab">Help</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="editor">
    {% if meta['contenttype']|shorten_ctype   == 'HTML' %}
        {{ data_editor(form['content_form'], item_name) }}
    {% else %}
        {{ data_editor(form['content_form'], item_name, class="markItUp") }}
     {% endif %}

    </div>
    <div role="tabpanel" class="tab-pane" id="meta">
        <div class="row moin-editor-tabs">
            <div class="col-md-6">

                {{ basic_meta_editor(form['meta_form']) }}
            </div>
            {% set field = form['extra_meta_text'] %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ gen.label(field) }}
                    {{ gen.textarea(field, rows="11"|string, cols=field.properties.cols|string, class='form-control') }}
                </div>
            </div>
        </div>
    </div>
    {% set field = form['meta_form']['acl'] %}
    {% if user.may.admin(fqname) %}
        <div  role="tabpanel" class="tab-pane" id="acl">
            <div class="row moin-editor-tabs">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ gen.label(field) }}
                        {{ gen.textarea(field, rows='1', class='form-control') }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ gen.input(field, type='hidden', class='form-control') }}
    {% endif %}
        <div role="tabpanel" class="tab-pane " id="help">
            <div class="row moin-editor-tabs">
                {{ utils.help_on_editing(help) }}
            </div>
        </div>
    </div>
    {#
    {{ gen.textarea(form['meta_text'], lang='en', dir='ltr', rows=rows_meta, cols=cols) }}
    <br />
    {{ forms.render_errors(form['meta_text']) }}
    #}
        {% if not form['content_form'].is_draw %}
            <div class="col-xs-4 center-block" style="float:none;">
                {{ forms.render_textcha(gen, form) }}
                {{ gen.input(form['comment'], type="text", class="form-control") }}
            </div>

                <div class="form-group">
                    {{ forms.render_submit(form, value='Save', class='btn btn-primary', id='moin-save-text-button') }}
                </div>
            {% endif %}

        {{ gen.form.close() }}
    </div>
{% endblock %}
{% block body_scripts %}
    {{ super() }}
 {% endblock %}
 {% block options_for_javascript %}
    <script type="text/javascript" >
       $(document).ready(function() {
        $('.markItUp').markItUp(myMarkdownSettings);
        $('#f_meta_form_tags').tagsinput();
       });
       $('.moin-float-fix').children()[0].value="Save";
       $('.moin-float-fix').css("margin-top","0%");
    </script>
    {%- if user.scroll_page_after_edit -%}
        <br id="moin-scroll-page-after-edit" />
    {%- endif %}
{% endblock %}
