{% extends theme("layout.html") %}
{% import "utils.html" as utils %}
{% block content %}
    <h1>{{ _("Item ACL Report") }}</h1>
    <table style="margin-left: 0px;" class="table table-hover moin-sortable" data-sortlist="[[0,0]]">
        <thead>
            <tr>
                <th class="col-md-6">{{ _("Item Names") }}</th>
                <th class="col-md-6" >{{ _("ACL") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items_acls %}
                <tr>
                    <td class="col-md-6">
                        <a href="{{ url_for('frontend.show_item', item_name=item['fqname']) }}">
                            {% if item['name'] %}
                                {{ item['name'] | join(', ') }}
                            {% else %}
                                {{ _("Item Id") }}: {{ item['itemid'] }}
                            {% endif %}
                        </a>
                    </td>
                    <td class="col-md-6">
                        <div class="row">
                        {% if user.may.admin(item['fqname']) %}
                            <form class="form-inline" id="moin-acl-form" action="{{ url_for('admin.modify_acl', item_name=item['fqname']) }}" method="POST">
                            <div class="col-xs-8">
                                <input class="form-control" style="width:320px " type="text" class="moin-acl-string" {% if item['acl_default'] %}
                                style="color:green;"{% endif %} name="{{ item['itemid'] }}" value="{{ item['acl'] }}"/>
                            </div>
                                <input class="moin-button" type="submit" value="{{ _("Modify ACL") }}"/>
                            </form>
                        </div>
                        {% else %}
                            {{ item['acl'] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
